* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Electrolize", sans-serif;
  background-color: rgb(31, 30, 30);
}
.container {
  margin: 0 auto;
  max-width: 800px;
}
.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  border: 5px solid rgb(82, 78, 78);
  background-color: #000;
  color: rgb(31, 187, 31);
  margin: 250px 0 0 0;
}
.title {
  font-size: 50px;
  color: rgb(3, 206, 81);
}
@media (max-width: 700px) {
  .watch {
    font-size: 50px;
  }
  .container {
    max-width: 600px;
  }
}
